<%= form_with(model: lineup, local: true) do |form| %>
  <% if lineup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lineup.errors.count, "error") %> prohibited this lineup from being saved:</h2>

      <ul>
      <% lineup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="lineup_name">Name</label>
    <%= form.text_field :name, id: :lineup_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label for="lineup_description">Description</label>
    <%= form.text_field :description, id: :lineup_description, class: 'form-control' %>
  </div>

  <well>
    <div class="form-group">
      Choose your quarterback: <br>
      <%= form.collection_select 'players_attributes[quarterback]', Player.where(position: 'Quarterback'), :id, :name, class: 'form-control' %>
    </div>
  </well>

    <div class="form-group">
      Choose your first runningback: <br>
      <%= form.collection_select 'players_attributes[runningback1]', Player.where(position: 'Runningback'), :id, :name %>
    </div>

    <div class="form-group">
      Choose your second runningback: <br>
      <%= form.collection_select 'players_attributes[runningback2]', Player.where(position: 'Runningback'), :id, :name %>
    </div>

    <div class="form-group">
      Choose your first widereceiver: <br>
      <%= form.collection_select 'players_attributes[widereciever1]', Player.where(position: 'Widereciever'), :id, :name %>
    </div>

    <div class="form-group">
      Choose your second widereceiver: <br>
      <%= form.collection_select 'players_attributes[widereciever2]', Player.where(position: 'Widereciever'), :id, :name %>
    </div>

    <div class="form-group">
      Choose your third widereceiver: <br>
      <%= form.collection_select 'players_attributes[widereciever3]', Player.where(position: 'Widereciever'), :id, :name %>
    </div>

    <div class="form-group">
      Choose your tightend: <br>
      <%= form.collection_select 'players_attributes[tightend]', Player.where(position: 'Tightend'), :id, :name %>
    </div>

    <div class="form-group">
      Choose your flex player: <br>
      <%= form.collection_select 'players_attributes[flex]', Player.where(position: 'Widereciever'), :id, :name %>
    </div>

    <div class="form-group">
      Choose your defense: <br>
      <%= form.collection_select 'players_attributes[defense]', Player.where(position: 'Defense'), :id, :name %>
    </div>

  <div class="actions">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
