<%= form_with(model: lineup, local: true) do |form| %>
  <% if lineup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lineup.errors.count, "error") %> prohibited this lineup from being saved:</h2>

      <ul>
      <% lineup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group modal-sm">
    <%= form.label :name %>
    <%= form.text_field :name, id: :lineup_name, class: 'form-control' %>
  </div>

  <div class="form-group modal-sm">
    <%= form.label :description %>
    <%= form.text_field :description, id: :lineup_description, class: 'form-control' %>
  </div>

  <div class="form-group modal-sm">
    <%= form.label :quarterback %>
    <%= form.collection_select :player_ids, Player.where(position: 'Quarterback'), :id, :name, class: 'form-control' %>
    <%= form.fields_for :players, lineup.players.build do |players_fields| %>
      <%= players_fields.text_field :name, placeholder: 'QB1', class: 'form-control' %>
      <%= players_fields.text_field :position, value: 'Quarterback', class: 'form-control'%>
      <%= players_fields.number_field :projectedPoints, placeholder: 'Projected Points', class: 'form-control' %>
      <%= players_fields.number_field :actualPoints, placeholder: 'Actual Points', class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group modal-sm">
    <%= form.label :runningback %>
    <%= form.collection_select :player_ids, Player.where(position: 'Runningback'), :id, :name, class: 'form-control' %>
    <%= form.fields_for :players, lineup.players.build do |players_fields| %>
      <%= players_fields.text_field :name, value: 'RB1', class: 'form-control' %>
      <%= players_fields.text_field :position, value: 'Runningback', class: 'form-control'%>
      <%= players_fields.number_field :projectedPoints, placeholder: 'Projected Points', class: 'form-control' %>
      <%= players_fields.number_field :actualPoints, placeholder: 'Actual Points', class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group modal-sm">
    <%= form.label :widereciever %>
    <%= form.collection_select :player_ids, Player.where(position: 'Widereciever'), :id, :name, class: 'form-control' %>
    <%= form.fields_for :players, lineup.players.build do |players_fields| %>
      <%= players_fields.text_field :name, value: 'WR1', class: 'form-control' %>
      <%= players_fields.text_field :position, value: 'Widereciever', class: 'form-control'%>
      <%= players_fields.number_field :projectedPoints, placeholder: 'Projected Points', class: 'form-control' %>
      <%= players_fields.number_field :actualPoints, placeholder: 'Actual Points', class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group modal-sm">
    <%= form.label :defense %>
    <%= form.collection_select :player_ids, Player.where(position: 'Defense'), :id, :name, class: 'form-control' %>
    <%= form.fields_for :players, lineup.players.build do |players_fields| %>
      <%= players_fields.text_field :name, value: 'D1', class: 'form-control' %>
      <%= players_fields.text_field :position, value: 'Defense', class: 'form-control'%>
      <%= players_fields.number_field :projectedPoints, placeholder: 'Projected Points', class: 'form-control' %>
      <%= players_fields.number_field :actualPoints, placeholder: 'Actual Points', class: 'form-control' %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
