<div class="container well-lg">
<h1>Lineups</h1>

<table class="table" id="myTable">
  <thead class="thead-dark">
    <tr>
      <th onclick="sortTable(0)" scope="col">Name</th>
      <th onclick="sortTable(1)" scope="col">Description</th>
      <th onclick="sortTable(2)" scope="col">Total Points</th>
      <th onclick="sortTable(3)" scope="col">Players</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lineups.each do |lineup| %>
      <tr>
        <td><%= lineup.name %></td>
        <td><%= lineup.description %></td>
        <td><%= lineup.total_points %></td>
        <td><% lineup.players.each do |player| %>
            <%= player.name %>
            <% end %>
        </td>
        <td><%= link_to 'Show', lineup %></td>
        <% if lineup.user_id == current_user.id %>
          <td><%= link_to 'See Players', lineup_players_path(lineup.id) %></td>
          <td><%= link_to 'Edit', edit_lineup_path(lineup) %></td>
          <td><%= link_to 'Delete Lineup', lineup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
