<div class="container well-lg">

  <button onclick="nextLineup(<%= @lineup.id %>)">Show Next Lineup</button>
  <br></br>
  <div id="name"></div>
<p>
  <strong>Name:</strong>
  <%= @lineup.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lineup.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @lineup.user_id %>
</p>

<p>
  <strong>Players:</strong>
  <br>

  <table class="table" id="myTable">
    <thead>
      <tr>
        <th onclick="sortTable(0)">Name</th>
        <th onclick="sortTable(1)">Status</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
  <% @lineup.players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= LineupsPlayer.find_by(player_id: player.id, lineup_id: @lineup.id).player_starting %></td>
    </tr>
      <% end %>
    </tbody>
  </table>

  <% if @lineup.user_id == current_user.id %>
    <br></br>
    <%= link_to 'See Players', lineup_players_path(@lineup.id) %>
    <br>
    <%= link_to 'Add New Player', new_lineup_player_path(@lineup.id) %>
  <% end %>
</p>

<% if @lineup.user_id == current_user.id %>
  <%= link_to 'Edit', edit_lineup_path(@lineup) %> |
<% end %>
<%= link_to 'Back', lineups_path %>

</div>
