<div class="container well-lg">

  <button id="previous" data-id="<%= @lineup.id %>" onclick="previousLineup()">Show Previous Lineup</button>
  <button id="next" data-id="<%= @lineup.id %>" onclick="nextLineup()">Show Next Lineup</button>
  <br></br>
<p>
  <strong>Name:</strong>
  <div id="name"><%= @lineup.name %></div>
</p>

<p>
  <strong>Description:</strong>
  <div id="description"><%= @lineup.description %></div>
</p>

<p>
  <strong>User:</strong>
  <div id ="user"><%= @lineup.user_id %></div>
</p>

<p>
  <strong>Players:</strong>
  <br>

  <table class="table" id="myTable">
    <thead>
      <tr>
        <th onclick="sortTable(0)">Name</th>
        <th onclick="sortTable(1)">Position</th>
        <th onclick="sortTable(2)">Projected Points</th>
        <th onclick="sortTable(3)">Actual Points</th>
        <th onclick="sortTable(4)">Point Differential</th>
        <th onclick="sortTable(5)">Status</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody id="tableBody">
  <% @lineup.players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.position %></td>
      <td><%= player.projectedPoints %></td>
      <td><%= player.actualPoints %></td>
      <td><%= player.point_differential %></td>
      <td><%= LineupsPlayer.find_by(player_id: player.id, lineup_id: @lineup.id).player_starting %></td>
    </tr>
      <% end %>
      <tr>
        <td id="playerName"></td>
        <td id= "playerPosition"></td>
        <td id= "playerActualPoints"></td>
        <td id= "playerProjectedPoints"></td>
        <td id= "playerPointDifferential"></td>
        <td id= "playerStatus"></td>
      </tr>
    </tbody>
  </table>

  <div class="form-group modal-sm">
    <%= label_tag :add_player %>
    <br></br>
    Enter new player details here: <%= form_for (@lineup.players.build) do |f| %>
      <%= f.text_field :name, placeholder: 'Name (Required)', class: 'form-control' %>
      <%= f.select :position, ['Widereciever', 'Quarterback', 'Runningback', 'Defense'], class: 'form-control' %>
      <%= f.number_field :projectedPoints, placeholder: 'Projected Points', class: 'form-control' %>
      <%= f.number_field :actualPoints, placeholder: 'Actual Points', class: 'form-control' %>
      <%= f.collection_check_boxes :lineup_ids, Lineup.where(user_id: current_user.id), :id, :name, class: 'form-control' %>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>

  <% if @lineup.user_id == current_user.id %>
    <br></br>
    <%= link_to 'See Players', lineup_players_path(@lineup.id) %>
    <br>
    <%= link_to 'Add New Player', new_lineup_player_path(@lineup.id) %>
    <br>
    <%= link_to 'Edit Lineup', edit_lineup_path(@lineup) %>
  <% end %>
</p>

<%= link_to 'Back', lineups_path %>

</div>

<script>
$(function () {
  $('form').submit(function(event) {
    event.preventDefault();

    var values = $(this).serialize();

    var posting = $.post('/players.json', values);

    posting.done(function(data) {
      var player = new Player (data["name"], data["position"], data["actualPoints"], data["projectedPoints"], "Starting");
      $("#playerName").text(player.name);
      $("#playerPosition").text(player.position);
      $("#playerActualPoints").text(player.actualPoints);
      $("#playerProjectedPoints").text(player.projectedPoints);
      $("#playerStatus").text(player.status);
      $("#playerPointDifferential").text(player.pointDifferential());
    });
  });
});

function Player(name, position, actualPoints, projectedPoints, status) {
  this.name = name;
  this.position = position;
  this.actualPoints = actualPoints;
  this.projectedPoints = projectedPoints;
  this.status = status;
}

Player.prototype.pointDifferential = function() {
  return this.projectedPoints - this.actualPoints
}
</script>
