<div class="container well-lg">

  <button id="previous" data-id="<%= @lineup.id %>" onclick="previousLineup()" type="button" class="btn btn-primary">Show Previous Lineup</button>
  <button id="next" data-id="<%= @lineup.id %>" onclick="nextLineup()" type="button" class="btn btn-primary">Show Next Lineup</button>
  <br></br>
<p>
  <strong>Name:</strong>
  <div id="name"><%= @lineup.name %></div>
</p>

<p>
  <strong>Description:</strong>
  <div id="description"><%= @lineup.description %></div>
</p>

<p>
  <strong>Players:</strong>
  <br>

  <table class="table" id="myTable">
    <thead>
      <tr>
        <th onclick="sortTable(0)" scope="col">Name</th>
        <th onclick="sortTable(1)" scope="col">Position</th>
        <th onclick="sortTable(2)" scope="col">Projected Points</th>
        <th onclick="sortTable(3)" scope="col">Actual Points</th>
        <th onclick="sortTable(4)" scope="col">Point Differential</th>
        <th onclick="sortTable(5)" scope="col">Status</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody id="tableBody">
  <% @lineup.players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.position %></td>
      <td><%= player.projectedPoints %></td>
      <td><%= player.actualPoints %></td>
      <td><%= player.point_differential %></td>
      <td><%= LineupsPlayer.find_by(player_id: player.id, lineup_id: @lineup.id).player_starting %></td>
    </tr>
      <% end %>
    </tbody>
  </table>

  <% if @lineup.user_id == current_user.id %>
    <br></br>
    <%= link_to 'See Players', lineup_players_path(@lineup.id) %>
    <br>
    <%= link_to 'Add New Player', new_lineup_player_path(@lineup.id) %>
    <br>
    <%= link_to 'Edit Lineup', edit_lineup_path(@lineup) %>
  <% end %>
</p>

</div>

<script>

$(function () {
  $('form').submit(function(event) {
    event.preventDefault();

    const form = this;
    const values = $(form).serialize();

    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });

    $.post('/players.json', values)
      .done(({ data }) => {
        const player = new Player (data.attributes.name, data.attributes.position, data['attributes']['actual-points'], data['attributes']['projected-points'], "Starting");
        $("#myTable tbody").append(player.render())
        form.reset();
      });
  });
});

function Player(name, position, actualPoints, projectedPoints, status) {
  this.name = name;
  this.position = position;
  if (actualPoints != null) {
    this.actualPoints = actualPoints;
  } else {
    this.actualPoints = '';
  }
  if (projectedPoints != null) {
    this.projectedPoints = projectedPoints;
  } else {
    this.projectedPoints = '';
  }
  this.status = status;
}

Player.prototype.pointDifferential = function() {
  if (this.projectedPoints != '' && this .actualPoints != ''){
    return this.projectedPoints - this.actualPoints;
  } else {
    return '';
  }
}

Player.prototype.render = function() {
  return (`
    <tr class="child">
      <td>${this.name}</td>
      <td>${this.position}</td>
      <td>${this.actualPoints}</td>
      <td>${this.projectedPoints}</td>
      <td>${this.pointDifferential()}</td>
      <td>${this.status}</td>
    </tr>
  `);
}
</script>
