<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :player_name %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.select :position, ['Widereciever', 'Quarterback', 'Runningback', 'Defense'], class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :projectedPoints %>
    <%= form.number_field :projectedPoints, id: :player_projectedPoints %>
  </div>

  <div class="field">
    <%= form.label :actualPoints %>
    <%= form.number_field :actualPoints, id: :player_actualPoints %>
  </div>

  <div class="field">
    <%= form.label :lineup %>
    <%= form.collection_check_boxes :lineup_ids, Lineup.where(user_id: current_user.id), :id, :name, class: 'form-control' %>
  </div>

  <div class="field">
      <%= form.fields_for :lineups_players do |lineups_player_fields| %>
        Player Status: <%= lineups_player_fields.select :player_starting, ['Starting', 'Benched', 'Injured'] %>
        <%= lineups_player_fields.collection_select :lineup_id, Lineup.where(id: player.lineups.ids[lineups_player_fields.index]), :id, :name%>
        <br>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
