<h1>Players</h1>

<table class="table" id="myTable">
  <thead>
    <tr>
      <th onclick="sortTable(0)">Name</th>
      <th onclick="sortTable(1)">Position</th>
      <th onclick="sortTable(2)">Projected Points</th>
      <th onclick="sortTable(3)">Actual Points</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td><%= player.projectedPoints %></td>
        <td><%= player.actualPoints %></td>
        <td><%= link_to 'Show', player %></td>
        <% if @lineup != nil %>
          <td><%= link_to 'Edit', edit_player_path(player) %></td>
          <td><%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
