<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Name:</strong>
  <%= @player.name %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Position:</strong>
  <%= @player.position %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Salary:</strong>
  <%= @player.salary %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Projected Points:</strong>
  <%= @player.projectedPoints %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Actual Points:</strong>
  <%= @player.actualPoints %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-3 row">Lineups:</strong>
  <br>
  <% @player.lineups.each do |lineup| %>
    <% if lineup.user_id == current_user.id %>
      <%= lineup.name %>
      <br>
      Player Notes: <%= @lineups_players.find_by(lineup_id: lineup.id).player_starting %>
      <br>
    <% end %>
  <% end %>
</p>

<%= link_to 'Back', players_path %>
