<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @player.salary %>
</p>

<p>
  <strong>Projected Points:</strong>
  <%= @player.projectedPoints %>
</p>

<p>
  <strong>Actual Points:</strong>
  <%= @player.actualPoints %>
</p>

<p>
  <strong>Lineups:</strong>
  <br>
  <% @player.lineups.each do |lineup| %>
    <% if lineup.user_id == current_user.id %>
      <%= lineup.name %>
      <br>
      Player Notes: <%= @lineups_players.find_by(lineup_id: lineup.id).player_starting %>
      <br>
    <% end %>
  <% end %>
</p>

<%= link_to 'Back', players_path %>
